<h1>My Account</h1>
<div class="container">
    <div>
        <label for="">First Name:</label>
        {{user.firstName}}
    </div>
    <div>
        <label for="">Last Name:</label>
        {{user.lastName}}
    </div>
    <div>
        <label for="">Email:</label>
        {{user.email}}
    </div>
</div>

<h3>Food intolerances/allergies: </h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div *ngFor="let intolerance of intolerances; let i=index">
            <input type="checkbox" class="form-check-input"
                [value]="intolerance.id"
                (change)="onCbChange($event)" 
                [checked]="intolerance.selected"/> {{intolerance.name}}
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>